<!DOCTYPE html>
<html>
<head>
    <title>Библиотека серий книг</title>
</head>
<body>
    <h1>Список серий книг</h1>
    <ul>
        {% for series in series %}
            <li>
                <a href="{% url 'series_detail' series.id %}">{{ series.title }} ({{ series.author }})</a>
                - Книг: {{ series.book_count }} | Рейтинг: {{ series.average_rating }} | {% if series.is_completed %}Завершена{% endif %}
            </li>
        {% endfor %}
    </ul>
</body>
</html>